* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    height: 3000px;
    background-image: url('../images/body-bg.png');
    background-position: center center;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    font-family: 'Open Sans', sans-serif;
    padding: 30px 10px;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

input {
    border: none;
    outline: none;
    background: none;
}

textarea {
    border: none;
    outline: none;
    background: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * WRAPPERS * * * * * * * * * * * * * * * * * * * * * * * * * */

.page {
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.7);
    max-width: 1040px;
    width: 100%;
    margin: auto;
    background: #fff;
}

.wrapper {
    max-width: 1024px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

.c-red {
    color: red;
}

.c-green {
    color: green;
}

.fw-bold {
    font-weight: 700;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * BUTTONS * * * * * * * * * * * * * * * * * * * * * * * * * */

.btn-green {
    display: block;
    background: #0FBE7C;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 2px;
}

.btn-green:hover {
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.7);
}

.btn-bars {
    height: 100%;
    display: none;
    align-items: center;
}

.btn-bars i {
    color: #fff;
    font-size: 26px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HEADER * * * * * * * * * * * * * * * * * * * * * * * * * */

.header {
    max-width: 1040px;
    margin: auto;
    background: #fff;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HEADER -> MARQUEE * * * * * * * * * * * * * * * * * * * * * * * * * */

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0)
    }
}

.marquee {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #000;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 15px;

}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: scroll 30s infinite linear;
    -moz-animation: scroll 30s infinite linear;
    animation: scroll 30s infinite linear;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HEADER -> MIDDLE * * * * * * * * * * * * * * * * * * * * * * * * * */

.header-middle {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.logo {
    display: flex;
}

.logo-text {
    color: #444444;
    padding: 0 15px;
}

.logo-text a {
    font-weight: 600;
    font-size: 36px;
    color: #444444;
}

.header-numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #666666;
}

.header-numbers span {
    font-weight: 700;
}

.header-numbers .btn-green {
    font-size: 14px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HEADER -> NAVBAR * * * * * * * * * * * * * * * * * * * * * * * * * */

.navbar {
    background: #a03333;
    height: 50px;
    padding: 0 15px;
    position: relative;
}

.navbar ul {
    background: #a03333;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.navbar ul li {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar a {
    color: #fff;
}

.navbar .menu-item-has-children {
    position: relative;
}

.navbar .menu-item-has-children:hover>.sub-menu {
    display: flex;
}

.navbar .sub-menu {
    position: absolute;
    z-index: 2;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    top: 48px;
    height: auto;
    width: 250px;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    border-top: 4px solid #0FBE7C;
}

.sub-menu li {
    border-bottom: 1px solid lightgray;
    width: 100%;
    padding: 5px 10px;
}

.sub-menu li:last-child {
    border-bottom: none;
}

.sub-menu li a {
    font-size: 14px;
    color: #666666;
}

.sub-menu li a:hover {
    color: #0FBE7C;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * SLIDER * * * * * * * * * * * * * * * * * * * * * * * * * */

.slide {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-size: cover;
    background-position: center center;
    padding: 50px 0;
}

.slide-text {
    max-width: 600px;
    margin: 0 40px;
    background-color: #555555;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 20px;
}

.slide-title {
    color: #fff;
    font-size: 28px;
    margin-bottom: 20px;
    display: block;
}

.slide .btn-green {
    margin-left: 40px;
    margin-top: 20px;
    font-size: 16px;
    padding: 1em 2em;
}

.slide .btn-green:hover {
    background: #666666;
}

.slider-indicator {
    background: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
}

.slider-indicator.active {
    background: #0FBE7C;
}

.slider-indicators {
    position: absolute;
    bottom: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HOME -> POPULAR COURSES * * * * * * * * * * * * * * * * * * * * * * * * * */

.popular-courses {
    padding: 40px 0;
}

.popular-courses .wrapper {
    padding: 0 40px;
}

.popular-courses h2 {
    background: #ffc252;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    margin-bottom: 40px;
}

.popular-courses .cards {
    display: flex;
    justify-content: space-between;
}

.popular-courses .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
}

.popular-courses .card:not(:last-child) {
    margin-right: 20px;
}

.popular-courses .card-text {
    margin-bottom: 20px;
}

.popular-courses .card-text a {
    font-size: 18px;
    color: #222222;
}

.popular-courses .card-photo img {
    width: 100%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HOME -> ADVANTAGES * * * * * * * * * * * * * * * * * * * * * * * * * */

.advantages {
    padding: 40px 0;
}

.advantages h2 {
    font-weight: 400;
}

.advantages ul {
    padding: 10px 20px;
}

.advantages ul li:before {
    content: "\f00c";
    font-family: FontAwesome;
    display: inline-block;
    font-size: 20px;
    color: green;
    margin-right: 10px;
}

.advantages ul li {
    padding: 10px 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * CATALOG DOWNLOAD * * * * * * * * * * * * * * * * * * * * * * * * * */

.catalog-download {
    padding: 30px;
    display: flex;
    background: #F8F8F8;
    border-left: 4px solid #0FBE7C;
    justify-content: space-between;
    align-items: center;
}

.catalog-download h3 {
    font-size: 24px;
    font-weight: 600;
    color: #222222;
}

.catalog-download div:first-child {
    flex-basis: 70%;
    margin-right: 20px;
}

.catalog-download .btn-green {
    font-size: 20px;
    font-weight: 700;
    padding: 0.5em 2em;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HOME QUESTIONS * * * * * * * * * * * * * * * * * * * * * * * * * */

.home-questions {
    padding: 40px 0;
}

.home-questions .cards {
    display: flex;
    flex-wrap: wrap;
}

.home-questions .card {
    flex-basis: 50%;
    margin-bottom: 40px;
    padding: 0 10px;
}

.home-questions .card h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.home-questions .card ul {
    padding-left: 15px;
}

.home-questions .card ul li {
    color: #666666;
    padding: 8px 0;
}

.home-questions .card ul li a {
    color: #0FBE7C;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * HOME -> FOOTER HERO * * * * * * * * * * * * * * * * * * * * * * * * * */

.footer-hero h3 {
    font-size: 24px;
    font-weight: 600;
}

.footer-hero ul {
    padding: 30px 5px;
}
.footer-hero ul li {
    list-style: decimal inside;
    color: #666666;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA MAX-WIDTH 768px * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width: 768px) {
    .btn-bars {
        display: flex;
    }

    .navbar {
        background: #3A3A3A;
    }

    .navbar ul {
        display: none;
        position: absolute;
        z-index: 2;
        flex-direction: column;
        width: 100%;
        left: 0;
        top: 48px;
        height: auto;
        background: #3A3A3A;
        align-items: flex-start;
        padding: 15px 0;
    }

    .navbar ul li {
        padding: 0;
    }

    .navbar ul li a {
        padding: 10px 20px;
        width: 100%;
    }

    .navbar .menu-item-has-children {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .sub-menu {
        position: relative;
        background: #3A3A3A;
        border-top: none;
        top: 0;
        width: 100%;
        padding: 0;
    }

    .sub-menu li {
        border-bottom: none;
        width: auto;
    }

    .navbar .sub-menu li a {
        font-size: 16px;
        color: #fff;
        width: 100%;
        height: 100%;
        padding-left: 40px !important;
    }

    .navbar ul li a:hover,
    .sub-menu li a:hover {
        background: #0FBE7C;
        color: #fff;
    }

    .popular-courses .cards {
        flex-wrap: wrap;
    }

    .popular-courses .card {
        flex-basis: 44%;
        margin-bottom: 40px;
    }

    .home-questions .cards {
        flex-direction: column;
    }
}

@media screen and (max-width: 660px) {
    .header-middle {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 576px) {
    .popular-courses .card {
        flex-basis: 100%;
    }

    .popular-courses .card:not(:last-child) {
        margin-right: 0;
    }

    .catalog-download {
        flex-direction: column;
        align-items: flex-start;
    }

    .catalog-download .btn-green {
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .slide-title {
        font-size: 22px;
    }

    .slide .btn-green {
        padding: 0.75em 2em;
    }

    .slide-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {
    .slide {
        height: 430px;
    }

    .slide-title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .slide .btn-green {
        margin-top: 10px;
        padding: 0.5em 2em;
    }
}